<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (turma(); as turmaRef) {
      <div>
        <h2 data-cy="turmaDetailsHeading"><span>Turma</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ turmaRef.id }}</span>
          </dd>
          <dt><span>Nome Turma</span></dt>
          <dd>
            <span>{{ turmaRef.nomeTurma }}</span>
          </dd>
          <dt><span>Descricao</span></dt>
          <dd>
            <span>{{ turmaRef.descricao }}</span>
          </dd>
          <dt><span>Professor</span></dt>
          <dd>
            @for (professor of turmaRef.professors; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/professor', professor.id, 'view']">{{ professor?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/turma', turmaRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
