<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-turma-heading" data-cy="TurmaCreateUpdateHeading">Criar ou editar Turma</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nomeTurmaRef = editForm.get('nomeTurma')!;
        <div class="mb-3">
          <label class="form-label" for="field_nomeTurma">Nome Turma</label>
          <input type="text" class="form-control" name="nomeTurma" id="field_nomeTurma" data-cy="nomeTurma" formControlName="nomeTurma" />
          @if (nomeTurmaRef.invalid && (nomeTurmaRef.dirty || nomeTurmaRef.touched)) {
            <div>
              @if (editForm.get('nomeTurma')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="mb-3">
          <label for="field_professors">Professor</label>
          <select
            class="form-control"
            id="field_professors"
            data-cy="professor"
            multiple
            name="professors"
            formControlName="professors"
            [compareWith]="compareProfessor"
          >
            @for (professorOption of professorsSharedCollection; track $index) {
              <option [ngValue]="professorOption">{{ professorOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
