<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (localizacao(); as localizacaoRef) {
      <div>
        <h2 data-cy="localizacaoDetailsHeading"><span>Localizacao</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ localizacaoRef.id }}</span>
          </dd>
          <dt><span>Endereco</span></dt>
          <dd>
            <span>{{ localizacaoRef.endereco }}</span>
          </dd>
          <dt><span>Cidade</span></dt>
          <dd>
            <span>{{ localizacaoRef.cidade }}</span>
          </dd>
          <dt><span>Estado</span></dt>
          <dd>
            <span>{{ localizacaoRef.estado }}</span>
          </dd>
          <dt><span>Cep</span></dt>
          <dd>
            <span>{{ localizacaoRef.cep }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/localizacao', localizacaoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
